<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/signup.css">
    <!-- <script src="../js/signup.js" defer></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>signup</title>
    <script>
    
        function signup() {
            let form = document.getElementById('form_signup');
            
            if ( !form.checkValidity() ) {
                    form.reportValidity();
                    console.log( "reportValidity" );

                    return false;
            }

            let user = {
                id: form.id.value,
                password: form.password.value,
                name: form.name.value,
                email: form.email.value,
                gender: $("input[name='gender']:checked").val(),
                nickname: form.nickname.value,
                phone_number: form.phone_number.value,
            };
            axios({
                method: 'post',
                url: 'http://localhost:8000/signup',
                data: user,
            })
            .then((rep) => {return rep.data;})
            .then((data) => {
                console.log(data);
                swal({
                    title: "회원가입 성공!",
                    icon: "success",
                    button: "확인",
                })
                .then((success) => {
                    // form.action = "http://localhost:8000/login";
                    // form.submit();
                    document.location.href = 'http://localhost:8000/login';
                })
                
            })
        }

        function checkID(){
            if ( $("#id").val().length == 0 ) {
                    $(".checkID").css("color", "red");
                    $(".checkID").text("아이디를 입력하세요.");
                    $("#id").focus();
                    return false;
            } else {
                $(".checkID").text("");
            }

            if ( $("#id").val() == "id" ) {
                swal({
                    title: "실패!",
                    text: "사용할 수 없는 아이디입니다. 다시 입력해 주세요.",
                    icon: "error",
                    button: "확인",
                    // buttons: true,
                    dangerMode: true,
                })
                .then((fail) => {$("#id").focus();})
                
                // $(".checkID").css("color", "red");
                // $(".checkID").text("사용할 수 없는 아이디입니다. 다시 입력해 주세요.");
                
            } else {
                swal({
                    title: "성공!",
                    text: "사용할 수 있는 아이디입니다.",
                    icon: "success",
                    button: "확인",
                });
                // $(".checkID").css("color", "blue");
                // $(".checkID").text("사용할 수 있는 아이디입니다.");
            }
      }
        function checkPassword(obj){
            if(  obj.value != $("#password").val() ) {
                $(".checkPassword").css("color", "red");
                $(".checkPassword").text("비밀번호가 일치하지 않습니다. 다시 입력해 주세요.");
                $( "#password2" ).focus();
            } else {
                $(".checkPassword").css("color", "blue");
                $(".checkPassword").text("비밀번호가 일치합니다.");
            }
        }

        function checkEmail(){
            if ( $("#email").val().length == 0 ) {
                    $(".checkEmail").css("color", "red");
                    $(".checkEmail").text("이메일을 입력하세요.");
                    $("#email").focus();
                    return false;
            } else {
                var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
                if(!reg_email.test($("#email").val())){
                    $(".checkEmail").css("color", "red");
                    $(".checkEmail").text("이메일 형식이 올바르지 않습니다. 다시 입력해 주세요.");
                    $("#email").focus();
                    return false;
                }
            }

            if ( $("#email").val() == "abc@gmail.com" ) {
                swal({
                    title: "실패!",
                    text: "사용할 수 없는 이메일입니다. 다시 입력해 주세요.",
                    icon: "error",
                    button: "확인",
                    // buttons: true,
                    dangerMode: true,
                })
                .then((fail) => {
                    $(".checkEmail").text("");
                    $("#email").focus();
                })
                // $(".checkEmail").css("color", "red");
                // $(".checkEmail").text("사용할 수 없는 이메일입니다. 다시 입력해 주세요.");
                
           
            } else {
                swal({
                    title: "성공!",
                    text: "사용할 수 있는 이메일입니다.",
                    icon: "success",
                    button: "확인",
                })
                .then((success) => {
                    $(".checkEmail").text("");
                })
                // $(".checkEmail").css("color", "blue");
                // $(".checkEmail").text("사용할 수 있는 이메일입니다.");
            }
        }

        function checkNickname (){
            if ( $("#nickname").val().length == 0 ) {
                    $(".checkNickname").css("color", "red");
                    $(".checkNickname").text("닉네임을 입력하세요.");
                    $("#nickname").focus();
                    return false;
            } else {
                $(".checkNickname").text("");
            }

            if ( $("#nickname").val() == "nickname" ) {
                swal({
                    title: "실패!",
                    text: "사용할 수 없는 닉네임입니다. 다시 입력해 주세요.",
                    icon: "error",
                    button: "확인",
                    dangerMode: true,
                })
                .then((fail) => {$("#nickname").focus();})
                // $(".checkNickname").css("color", "red");
                // $(".checkNickname").text("사용할 수 없는 닉네임입니다. 다시 입력해 주세요.");
                
            } else {
                swal({
                    title: "성공!",
                    text: "사용할 수 있는 닉네임입니다.",
                    icon: "success",
                    button: "확인",
                });
                // $(".checkNickname").css("color", "blue");
                // $(".checkNickname").text("사용할 수 있는 닉네임입니다.");
                }
        }

        $(document).ready(function(){
                $("button").hover(function(){
                    $(".sign_img").attr("src","/img/signup_img_orange.png")
                },
                function(){$(".sign_img").attr("src","/img/signup_img_gray.png")})
            });
    </script>

</head>
<body>
    <!-- 네비게이션 -->
    <div class="nav-container">
        <div class="nav-logo">
          <div class="navbar_logo">
            <img src="/img/logo_500_black.png" class="logo_1" onclick="location.href ='/'">
          </div>
        </div>
        <div class="nav-button-container">
          <div class="nav-button nav-login" onclick="location.href ='/login'">
            로그인
          </div>
          <div class="nav-button nav-register" onclick="location.href ='/signup'">
            회원가입
          </div>
        </div>
    </div>
    
    <main>
        <section class="left">
            <img src="/img/signup_img_gray.png" class="sign_img">                
        </section>
        <section class="right">
            
            <form id="form_signup">
                <legend class="titDep">회원가입</legend>
                    <label for="id" class="titLab">아이디</label>
                    <div class="inp_dup">
                        <input type="text" class="inpL" name="id" id="id" placeholder="아이디를 입력하세요" required>
                        <a href="javascript:;" role="button" class="btnDefault btnL btnLineP" id="btnID" onclick="checkID();">중복확인</a>
                    </div>
                    <span class="checkID"></span>

                    <label for="password" class="titLab">비밀번호</label>
                    <input type="password" class="inpL" name="password" id="password" placeholder="비밀번호를 입력하세요" required>

                    <label for="password2" class="titLab">비밀번호 확인</label>
                    <input type="password" class="inpL" name="password2" id="password2" placeholder="확인을 위해 한번 더 입력하세요" onkeyup="checkPassword( this );" required>
                    <span class="checkPassword"></span>
                    
                    <label for="email" class="titLab">이메일</label>
                    <div class="inp_dup">
                        <input type="email" class="inpL" name="email" id="email" placeholder="이메일을 입력하세요" required>
                        <a href="javascript:;" role="button" class="btnDefault btnL btnLineP" id="btnEmail" onclick="checkEmail();" disabled="true">중복확인</a>
                    </div>
                    <span class="checkEmail"></span>

                    <label for="name" class="titLab">이름</label>
                    <input type="text" class="inpL" name="name" id="name" placeholder="이름을 입력하세요" required>

                    <label for="phone_number" class="titLab">전화번호</label>
                    <input type="text" class="inpL" name="phone_number" id="phone_number" placeholder="- 없이 번호만 입력하세요" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required>

                    <label for="nickname" class="titLab">닉네임</label>
                    <div class="inp_dup">
                        <input type="text" class="inpL" name="nickname" id="nickname" placeholder="닉네임을 입력하세요" required>
                        <a href="javascript:;" role="button" class="btnDefault btnL btnLineP" id="btnNickname" onclick="checkNickname();" disabled="true">중복확인</a>
                    </div>
                    <span class="checkNickname"></span>

                    <span class="titLab">성별</span>
                    <div class="radFrm">
                        <input type="radio"  id="male" name="gender">
                        <label for="male">남자</label>
        
                        <input type="radio" id="female" name="gender">
                        <label for="female">여자</label>
                    </div>
                   

                    <!-- <div class="btnMargin">
                        <button type="button" class="button btnLightBlue btnPush" onclick="signup();">회원가입</button>
                    </div> -->
                    <div class="signup_btn">
                        <button type="button" onclick="signup()" data-text="회원가입"></button>
                    </div>
            </form>     
        </section>
    </main>
    <%- include('footer.ejs')%>
    <!-- <div class="footer">
        <img class="logo_3" src="../img/logo_500_gray.png">     
            <ul class="footer_txt">
                <li>이용약관 ｜</li>
                <li>개인정보처리방침｜</li>
                <li>주소 : (03925) 서울특별시 마포구 월드컵북로 400 (상암동) ｜</li>
                <li>전화번호 : (영등포)02-3667-7304 (금천)02-6673-1804 ｜</li>
                <li>Email : sesac@sba.seoul.kr</li><br>
                <li>구성원 : 염시온,김예은,송진세,이수림,장근영 ｜</li>
                <li>Copyright (c) "SeSSAC 4기 4조 내가해냄" All Rights Reserved.</li>
            </ul>
    </div> -->
    
</body>
</html>