<html>
    <head>
        <title>file test</title>
    </head>
    <body>
        <h2>이미지 출력</h2>
        ID : <%=id%><br>
        <img src="<%=filename%>" width="200" height="200">
    </body>
</html>