<html>
    <head>
        <title>EJS</title>
    </head>
    <body>
        <!-- <% %> 한줄씩 작성해야 함  -->
        <!-- for ( var i = 0; i < 5; i++){
            if ( i == 3 ){
                // h3 태그
            } else {
                // h1 태그
            }
        } -->
        <% for (var i = 0; i < 5; i++) { %>
            <% if (i == 3) { %>
                <h3>hi</h3>
            <% } else { %>
                <h1>hi</h1>
            <% } %>
        <% } %>

        <!-- <%=a%> a 변수의 값을 보여주기 -->
        <% var a = 'hello'; %>
        <p><%=a%></p>

        <!-- 파일 안에서 다른 파일 불러와서 보여줄 수 있음-->
        <%- include('test2.ejs') %>
        
    </body>
</html>