<html>
    <head>
        <title>실습 32. 회원가입</title>
    </head>
    <body>
        <div class="position-absolute top-50 start-50 translate-middle">
            <h2> <%=name%>님 회원가입 완료 </h2>
        </div>
        
    </body>
</html>