<html>
    <head>
        <title>0803_로그인</title>
    </head>
    <body>
        <form action="/test/login" method="POST">
            <fieldset>
                <legend>로그인</legend>
                아이디 : <input type="text" name="id" required> <br>
                비밀번호 : <input type="password" name="pw" required> <br>
                <button>로그인</button>
            </fieldset>
        </form>
    </body>
</html>