<html>
    <head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <title>Main</title>
        <style>
            form{
                font-family: 'Courier New', Courier, monospace;
            }
            h2{
                text-align: center;
            }
        </style>
    </head>
    <body>
        
        <div class="d-grid gap-2 col-2 mx-auto">
            <button type="button" onclick="location.href='http://localhost:8000/user/register'" class="btn btn-outline-primary">회원가입</button>
            <button type="button" onclick="location.href='http://localhost:8000/user/login'" class="btn btn-outline-primary">로그인</button>
            <button type="button" onclick="location.href='http://localhost:8000/user/update'" class="btn btn-outline-warning">회원정보 수정</button>
            <button type="button" onclick="location.href='http://localhost:8000/user/delete'" class="btn btn-outline-danger">회원정보 삭제</button>
        </div>

    </body>
</html>